<!-- <p>login works!</p>
<h1>welcome to login page</h1>
<label for="text">
    Email:<input type="email">
</label> <br><br>
<label for="password">
    Password:<input type="password">
</label> <br><br>
<button>login</button>
 -->
 <p>login works!</p>
 <h1>welcome to login page</h1>
 
 <form (ngSubmit)="login()" #loginForm="ngForm">
   <label for="email">
       Email:<input type="email" id="email" name="email" [(ngModel)]="email" required>
   </label> <br><br>
   <label for="password">
       Password:<input type="password" id="password" name="password" [(ngModel)]="password" required>
   </label> <br><br>
   <button type="submit">Login</button>
 </form>
 