<p>show-employee works!</p>

<table border="2">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>password</th>
      <th>Salary</th>
      <th>DOJ</th>
      <th>Experience</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Country</th> <!-- New column -->
    </tr>
  </thead>
  <tbody>
    <!-- Use *ngFor to loop through employees array and display each employee -->
    <tr *ngFor="let employee of employees">
      <td>{{ employee.empName | uppercase  }}</td>
      <td>{{ employee.emailId  }}</td>
      <td>{{employee.password}}</td>
      <td>{{ employee.salary}}</td>
      <td>{{employee.doj | date}}</td>
      <td>{{ employee.doj | experience }}</td>

      <td>{{ employee.age }}</td>
      <td>{{ employee.gender }}</td>
      <td>{{ employee.country  }}</td> <!-- Use the custom country pipe -->
    </tr>
  </tbody>
</table>
